# Ignore JetBrains IDEA Folder
.idea/
# Ignore VSCodium / Visual Studio Code Folder + WorkSpace Files
.vscode/
*.code-workspace
# Ignore other .git folders
**/.git
# Ignore cargo target build folders
**/target/